/* static/common/css/style.css */

/* Body 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* 제목 스타일 */
h1 {
  color: #333;
  margin-top: 20px;
}

/* 입력 폼 스타일 */
#inputForm {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 레이블 스타일 */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}

/* 입력 필드 스타일 */
input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* 버튼 스타일 */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

/* 결과 영역 스타일 */
#result {
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
